.home__screenLock {
 position: fixed;
 width: 100vw;
 height: 100vh;
 background-color: var(--bgColor2);
 z-index: 1000;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;

 opacity: 1;
 transform: scale(1);
 transition: opacity 1s ease, transform 1s ease;
}

/* Animación de desvanecimiento y encogimiento */
.home__screenLock--hidden {
 opacity: 0;
 transform: scale(0.9); /* Efecto de encogimiento */
 transition: opacity 1s ease, transform 1s ease;
}

.home__screenLock__p,
.home__screenLock__p2 {
 color: var(--textColor);
 font-size: 1.5rem;
}

.home__screenLock__p2 {
 margin-bottom: 1em;
 font-weight: var(--textBold);
}

.home__screenLock__btn {
 width: 5em;
 height: 2em;
 border-radius: 30px;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 cursor: pointer;
}

.home__screenLock__btn {
 font-size: 1.5rem;
 font-weight: bold;
 color: var(--bgColor2);
}
